.backgroundContainer {
	background-image: url("./assets/Rooftop_Garden.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	height: 100%;
	width: 100%;
	padding: 10px;
}

h1,
h3 {
	background: -webkit-linear-gradient(rgb(0, 153, 255), rgb(94, 255, 0));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.centerVertical {
	padding-top: 25%;
}

#root {
	height: 100%;
}

body {
	height: 100%;
}

html {
	height: 100%;
}
